.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .container {
    max-width: 960px;
  }
  
  /*
   * Custom header
   */
  
  .site-header {
    background-color: #fff;
    border-bottom: #001254 20px solid;
  }
  .site-header a {
    color: #8e8e8e;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }

  .logo_container{
      position: absolute;
      top: 10px;
  }

  .platform_container{
      margin-left: 200px;
      padding-top: 15px;
      padding-bottom: 15px;
  }
  .navbar-test{
      /* padding-top: 0 !important;
      padding-bottom: 0 !important; */
  }

  .navbar-test .navbar-toggler, 
  .navbar-test .navbar-toggler:active
  .navbar-test .navbar-toggler:focus{
    border:none;
    box-shadow: none;
  }

  .navbar-test .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(26,57,140, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .navbar-test .nav-link:hover{
      color: #333;
    }

    .bg-img-slide{
        background-image: url("../img/slide.jpg");
        background-position: center;
        height: 523px;
    }

    .bg-img-slide2{
        background-image: url("../img/slide2.jpg");
        background-position: center;
        height: 440px;
    }

    .bg-light{
        background-color: #ebebeb !important;
    }

    .bg-img-thumb{
        background-image: url("../img/thumb-bg.jpg");
        background-position: center;
        height: 246px;
        width: 300px;
        border: none;
        background-repeat: no-repeat;
    }

    .card{
        border-radius: 0;;
    }

    .card > img{
        width: 100%;
    }

    .bg-img-thumb .card-body{
        padding: 0 !important;
    }

    .card-text1{
        font-size: 18px !important;
        margin-bottom: 0 !important;
        font-weight: normal !important;
    }

    .card-text2{
        font-size: 10px !important;
        margin-bottom: 10px !important;
        font-weight: normal !important;
        height: 25px;
    }

    .card-text3{
        font-size: 10px !important;
        margin-bottom: 0 !important;
        font-weight: normal !important;
        width: 70px;
        text-align: center;
        margin-top: -5px;
    }

    .card-text4{
        font-size: 24px !important;
        margin-bottom: 20px !important;
        font-weight: normal !important;
        width: 70px;
        text-align: center;
        margin-top: -5px;
    }

    .card-text5{
        font-size: 20px !important;
        height: 25px;
        color: #000;
        text-align: right;
        margin-top: 40px;
    }

    .btn-outline-light{
        border-radius: 0 !important;
    }

    .bb-1{
        border-bottom: 5px #1450d2 solid;
        color: #1450d2;
    }

    .bb-2{
        border-bottom: 5px #01a49c solid;
        color: #01a49c;
    }

    .bb-3{
        border-bottom: 5px #009bfa solid;
        color: #009bfa;
    }

    .card-body p{
        font-size: 24px;
        font-weight: bold;

    }

    footer{
        background-color: #707070;
        font-size: 11px;
    }
  

  
  
  /*
   * Extra 
   */
  
  .flex-equal > * {
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }

  @media (min-width: 992px) {

    .hidden-desktop {
        display: none !important;
      }      
  }

  @media  (max-width: 991px) {
    .site-header {
        border-bottom: none !important;
      }

      .navbar-test .nav-link{
          background-color: #ebebeb;
          text-align: center;
          margin: 10px;
      }

      .navbar-test .nav-title{
        background-color: #fff;
        text-align: center;
        margin: 20px;
        padding: 40px 0 0 0;
        color: #193989;
        cursor: default;
        }

      .logo_mobile .logo{
          padding-right: 100px;

      }

      .mobile-navbar-toggler{
          position: absolute;
          top: 20px;
          right: 20px;
    }

      .logo_mobile{
        background-color: #ebebeb;
        margin: -20px;
        padding: 20px;
        width: 110%;
      }
  }

  