﻿<div id="mainmodel-container" style="width: 100%; height:100%; position: relative;">
    <div id="tiles-panel-container" style="width: calc(100% - 170px); height: 100%; margin-left:170px; overflow:auto; position: relative; background-color: transparent;">
        <div id="tiles-panel" style="height: 100%; width:100%; position:relative; background-color:transparent;" data-bind="template: { name: getTemplateFunc, afterRender: afterTargetRenderEvent, foreach: tiles }">
        </div>
    </div>
    <div id="left-side-menu" style="position: fixed; left:0px; top:0px; height:100%; width:150px; overflow:auto;" data-bind="foreach: leftSideItems">
        <div data-bind="attr: { id: Id() }, event: { mouseover: $root.menuItemMouseDown}" style="width:100px; height:100px; background-color: white; margin:10px;">
            <span data-bind="text: Name()" style="line-height:100px; margin-left:10px;"></span>
        </div>
    </div>
</div>

<script type="text/html" id="template-tile">
    <div style="position: absolute; left: 0px; top:0px;" data-bind="attr: { id: Id() }, style: { width: (width() + 'px'), height: (height() + 'px') }">
        <div class="tile-container material-effect" style="width:100%; height:100%; background-color: white; float: left;">
            <div class="tile-header" style="height:50px; background-color: gray; color: white;">
                <span data-bind="text: Id()" style="line-height:50px; margin-left:10px;"></span>
            </div>

            <div class="tile-resize-corner"></div>
            <div class="tile-resize-width" style="width:0px; height:1px; position: absolute; background-color: black; left: 0px; top:0px;"></div>
            <div class="tile-resize-height" style="width:1px; height:0px; position: absolute; background-color: black; left: 0px; top:0px;"></div>
        </div>
    </div>
</script>
