body{
    font-family: Roboto;
    background: #ccc; 
}

nav{
    padding: 10px;
    margin: 10px;
}

.main_container{
    position: relative;
}

.recipe{
    width: 240px;
    float: left;    
}

.recipe, .recipe_content{
    background: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.recipe img{
    height: 150px;
}

.ingredient-name-content{
font-weight: bold;
font-size: 18px;
}

.special-content{
font-size: 12px;
color: red;
}

.line{
    margin-top: 30px;
    border-top: dashed 1px #666;
    padding-bottom: 30px;

}

.link1, .link2, .link3, .link4 {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.link1 {
    background-color: #84c43f;
}

.link2 {
    background-color: #ee6610;
}

.link3 {
    background-color: #4aaddc;
}

.link4 {
    background-color: #d83e3e;
}

.delete{
    border: none;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.p_date{
    font-size: 10px;
    color: #4aaddc;
}

p{
    color: #666;
}

.title1, .title2, .title3, .title4{
    font-size: 18px;
}

.title1{
    color: #84c43f;
}

.title2{
    color: #ee6610;
}

.title3{
    color: #4aaddc;
}

.title4{
    color: #d83e3e;
}


table {
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
  }